<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.AmaltheaPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Common"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.common.CommonPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Components"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.components.ComponentsPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Hardware"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.hardware.HardwarePackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Software"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.software.SoftwarePackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/OperatingSystem"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.os.OsPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Mapping"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.mapping.MappingPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Stimuli"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.stimuli.StimuliPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated amalthea.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/2017/Amalthea/Constraints"
            class="org.eclipse.papyrus.amalthea.profile.amalthea.constraints.ConstraintsPackage"
            genModel="umlProfile/amalthea.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://AMALTHEA_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.amalthea.profile/umlProfile/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://AMALTHEA_PROFILE/amalthea.profile.uml#_PUCPMBYtEeeFzte_Mj5jqA"
            uri="http://www.eclipse.org/papyrus/2017/amalthea">
      </profile>
   </extension>
</plugin>
