<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.papyrusrt.amalthea.ui.command.category"
            name="Papyrus Amalthea Commands">
      </category>
      <command
            categoryId="org.eclipse.papyrusrt.amalthea.ui.command.category"
            description="Papyrus UML model to AMALTHEA model transformation"
            id="org.eclipse.papyrusrt.amalthea.ui.command.generate"
            name="Generate AMALTHEA Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.amalthea.ui.handlers.UmlToAmaltheaHandler"
            commandId="org.eclipse.papyrusrt.amalthea.ui.command.generate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrusrt.amalthea.ui.command.generate"
               label="Generate AMALTHEA Model"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="AMALTHEA Profile"
            name="AMALTHEA"
            path="pathmap://AMALTHEA_PROFILE/amalthea.profile.uml"
            provider="Zeligsoft(2009) Ltd">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="newchildmenu/Amalthea.creationmenumodel">
      </menuCreationModel>
   </extension>
	<extension
			point="org.eclipse.papyrus.infra.properties.contexts">
		<context contextModel="properties/amalthea.ctx" isCustomizable="true"/>
	</extension>

</plugin>
